@* The Google login button has been removed as its URL was non-functional. *@
<div class="form-group">
    <label asp-for="EmailAddress"></label>
    <input asp-for="EmailAddress" class="form-control" />
    <span asp-validation-for="EmailAddress" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Password"></label>
    <input asp-for="Password" type="password" class="form-control" />
    <span asp-validation-for="Password" class="text-danger"></span>
</div>
<div class="form-group">
    <button type="submit" class="btn btn-primary">Log in</button>
</div>
@* Placeholder or notice can be added for future OAuth setup if needed. *@
<div>
    <p>Google login will be available shortly. Please check back later.</p>
</div>