# Build results
bin/
obj/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# JetBrains Rider
.idea/

# Visual Studio Code
.vscode/

# Windows
Thumbs.db
ehthumbs.db

# macOS
.DS_Store

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Secret files
appsettings.*.json
!appsettings.json
!appsettings.Development.json

# Logs
*.log
logs/
